.welcome-img {
  width: 50%;
}

.img-wrapper {
  display: flex;
  justify-content: center;
}

.container {
  position: relative;
}

.welcome-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.details-title {
  position: absolute;
  top: 85%;
  left: 2%;
}

.trail-info-card-container {
  display: flex;
  padding-top: 3rem;
  flex-wrap: wrap;
} 

.trail-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.banner-img {
  object-fit: cover;
  height: 25rem;
  width: 90%;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  height: 100%;
  justify-content: space-evenly;
  /* right: 2%; */
  left: 95%;
  transform: translate(-50%, -50%);
}

.details-banner-button {
  transform: scale(1.2);
  display: "flex";
  flex-direction: column;
}

.details-icons-text {
  font-size: 10px !important;
}

.overview-value {
  font-weight: 400
}
