.app-bar {
  z-index: 1000;
}

.img-wrapper {
  display: flex;
  justify-content: center;
}

.landing-container {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8), 4px 4px 8px rgba(0, 0, 0, 0.6);
  position: relative;
  height: 100vh;
}

.details-container {
  position: relative;
}

.welcome-img {
  width: 50%;
  height: 100vh;
  object-fit: cover;
}

.welcome-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.details-title {
  position: absolute;
  top: 85%;
  left: 2%;
  letter-spacing: 2px;
}

.trail-info-card-container {
  display: flex;
  padding-top: 3rem;
  flex-wrap: wrap;
} 

.trail-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.banner-img {
  object-fit: cover;
  height: 25rem;
  width: 90%;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  height: 100%;
  justify-content: space-evenly;
  /* right: 2%; */
  left: 95%;
  transform: translate(-50%, -50%);
}

.details-banner-button {
  transform: scale(1.2);
  display: "flex";
  flex-direction: column;
}

.details-icons-text {
  font-size: 10px !important;
}

.rw-today .rw-today-current {
  font-size: 20px !important;
}

.detail-overview-tiles {
  width: 50%;
  float: left;
  padding: 20px;
}

.tile-1 {
  height: 490px;
}

.tile-1-card-top {
  height: 255px;
  border-radius: 5px;
  display: flex;
  width: 100%;
}

/* .tile-1-card-left {
  padding: 1rem 1rem 0rem 1rem;
  width: 80%
} */

.tile-1-card-left {
  padding: 2rem 2rem 0rem 2rem;
  width: 60%;
}

.tile-1-card-right {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.tile-1-card-bottom {
  background-color: rgba(255, 255, 255, 0.05);
  height: 147px;
  border-radius: 5px;
  display: flex;
}

.bike-icon-container {
  display: flex;
  align-items: center;
}

.pedal-bike-icon {
  margin-bottom: 2rem;
  transform: scale(4);
  color: #B5DEF4;
}

.tile-1-item {
  width: 35%;
  text-align: center;
  margin: 10px 0px;
  padding: 0px 10px;
}

.about {
  margin: 0px 0px 10px;
  font-weight: 300;
  letter-spacing: 2px;
}

.rw-today .rw-today-desc {
  font-size: 13px !important;
}

.overview-key {
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 1px;
}

.overview-value {
  margin: 10px 0px;
  font-size: 12px;
  font-weight: 400;
}

.overview-icon {
  text-align: center;
  transform: scale(1.6);
  color: #B5DEF4;
  padding-top: 12px;
}

.modal-button-wrapper {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}

.uploadPhotoDiv {
  display: flex;
  justify-content: center
}

.userPhotos {
  height: 200px;
  width: auto;
}

.reviewThumbNail {
  height: 80px;
  width: auto;
  cursor: pointer
}

.reviewPhotosModalDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
}

.reviewPhotosModal {
  max-height: 400px;
  max-width: 350px;
}

.user-photos-tile-card {
  height: 480px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.reviewPhotosOverall {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.details-overview-row-1-container {
  padding-top: 2rem;
}

.delete-favorite-confirm-wrapper {
  margin-top: 1.5rem;
}

.saved-trails-container {
  display: flex;
  justify-content: center;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.review-primary-wrapper {
  display: flex;
  align-items: center;
}

.error-message {
  margin-left: 30px;
}